# Django Core
asgiref==3.8.1
Django==4.2.13
pytz==2024.1
sqlparse==0.5.0

# Django REST Framework & Authentication
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
PyJWT==2.8.0

# Database Connector for PostgreSQL
psycopg2-binary==2.9.9

# Image Handling
Pillow==10.3.0

# API & Frontend Communication
django-cors-headers==4.3.1